<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>Métricas y rendimiento</mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-content">
    <div class="card-body">
      <div class="card-logo">
        <img src="" alt="Ícono métricas" />
      </div>
      <div class="card-details">
        <p class="status">
          <mat-icon color="primary">insights</mat-icon>
          Feedback sobre servicios
        </p>
        <p class="status">
          <mat-icon color="primary">trending_up</mat-icon>
          Indicadores de rendimiento
        </p>
        <button mat-raised-button color="primary" routerLink="/metrics">
          Verificar
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>