<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>Gestión de agenda</mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-content">
    <div class="card-body">
      <div class="card-logo">
        <img src="" alt="Ícono de agenda" />
      </div>
      <div class="card-details">
        <p class="status">
          <mat-icon color="primary">event</mat-icon>
          Agenda programada
        </p>
        <p class="status">
          <mat-icon color="primary">check_circle</mat-icon>
          Verificar estado
        </p>
        <button mat-raised-button color="primary" routerLink="/schedule">
          Revisar Agenda
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>