<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>Inventario y Catálogo</mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-content">
    <div class="card-body">
      <div class="card-logo">
        <img src="" alt="Ícono de inventario" />
      </div>
      <div class="card-details">
        <p class="status">
          <mat-icon color="primary">inventory_2</mat-icon>
          Stock disponible
        </p>
        <p class="status">
          <mat-icon color="primary">warning</mat-icon>
          Gestionar inventario
        </p>
        <button mat-raised-button color="primary" routerLink="/inventory">
          Ver catálogo
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>