<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>Zonas de servicio</mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-content">
    <div class="card-body">
      <div class="card-logo">
        <img src="" alt="Ícono zonas" />
      </div>
      <div class="card-details">
        <p class="status">
          <mat-icon color="primary">place</mat-icon>
          Áreas disponibles
        </p>
        <p class="status">
          <mat-icon color="primary">map</mat-icon>
          Enfocar atención por zona
        </p>
        <button mat-raised-button color="primary" routerLink="/zones">
          Agregar zona
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>