<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>Historial de servicios</mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-content">
    <div class="card-body">
      <div class="card-logo">
        <img src="" alt="Ícono historial" />
      </div>
      <div class="card-details">
        <p class="status">
          <mat-icon color="primary">check_circle</mat-icon>
          Instalación en curso - 23/05/2025
        </p>
        <p class="status">
          <mat-icon color="primary">visibility</mat-icon>
          Ver historial completo
        </p>
        <button mat-raised-button color="primary" routerLink="/clients-history">
          Ver historial
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>