<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>Tu empresa: Proveedor SAC.</mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-content">
    <div class="card-body">
      <div class="card-logo">
        <!-- Imagen vacía por ahora -->
        <img src="" alt="Logo empresa" />
      </div>
      <div class="card-details">
        <p class="status">
          <mat-icon color="primary">check_circle</mat-icon>
          Datos y documentos en orden
        </p>
        <p class="status">
          <mat-icon color="primary">check_circle</mat-icon>
          Visible en la tienda online
        </p>
        <button mat-raised-button color="primary" routerLink="/profile">
          Gestionar
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>