.component-list-container {
  padding: 1rem ;
}

mat-list-item {
  display: flex;
  flex-direction: column;
  align-items: start;
}

mat-icon {
  margin-right: 1rem;
  color: #3f51b5;
}

.loading, .error-message {
  text-align: center;
  margin-top: 1rem;
  color: #555;
}
