<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>Foros certificados</mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-content">
    <div class="card-body">
      <div class="card-logo">
        <img src="" alt="Ícono foro" />
      </div>
      <div class="card-details">
        <p class="status">
          <mat-icon color="primary">forum</mat-icon>
          Publica en espacios verificados
        </p>
        <p class="status">
          <mat-icon color="primary">verified</mat-icon>
          Mayor visibilidad profesional
        </p>
        <button mat-raised-button color="primary" disabled>
          Próximamente
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>