<mat-card>
  <mat-card-header>
    <mat-card-title>Agregar Nuevo Tipo</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="typeForm" (ngSubmit)="onSubmit()" class="form-layout">
      <mat-form-field appearance="outline">
        <mat-label>Nombre del Tipo</mat-label>
        <input matInput formControlName="name" placeholder="Ej: Resistencias" required>
        <mat-error *ngIf="typeForm.get('name')?.hasError('required')">
          El nombre es requerido.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="description" placeholder="Componentes pasivos de dos terminales">
      </mat-form-field>

      <div class="form-actions">
        <div>
          <a href="/component-management" mat-flat-button color="primary" type="button">Ir a Agregar Componentes</a>
        </div>
        <button mat-flat-button color="primary" type="submit" [disabled]="typeForm.invalid || isLoading">
          {{ isLoading ? 'Agregando...' : 'Agregar Tipo' }}
        </button>
      </div>
      <div *ngIf="errorMessage" class="error-text">
        {{ errorMessage }}
      </div>
    </form>
  </mat-card-content>
</mat-card>